<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282269497871-ukkbvka6svvb7576a49e8frhm71goui1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282269497871-ukkbvka6svvb7576a49e8frhm71goui1</string>
	<key>API_KEY</key>
	<string>AIzaSyAi9w0Kc4nokDi-UNUscwsCYc_psCrXR3g</string>
	<key>GCM_SENDER_ID</key>
	<string>282269497871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>University-of-Toronto.Tootti</string>
	<key>PROJECT_ID</key>
	<string>tootti-bb669</string>
	<key>STORAGE_BUCKET</key>
	<string>tootti-bb669.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282269497871:ios:3a4a108ed37ce21860c17a</string>
</dict>
</plist>